In [8]:
pip install pandas

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [7]:
# Importing libraries
import sqlite3
import pandas as pd

# SQLite database connection
new_connection = sqlite3.connect(r'D:\Test Jupyter\demo5.db')

# Loading data into DataFrame
demo_data = pd.read_csv('demo5.csv')

# Write the data to a sqlite table
demo_data.to_sql('demo5', new_connection, if_exists = 'replace', index = False)

# Close connection to SQLite database
new_connection.close()

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': file is not a database